.team .cards {
  flex-wrap: wrap;
}

.team .card {
  width: 200px;
  height: 285px;
  margin-inline: 20px;
  background-color: #505050;
  padding: 15px;
  border-radius: 0.25rem;
  box-shadow: -4px 4px 8px rgba(17, 0, 17, 0.4);
}

.team .card .photo {
  width: 80%;
  box-shadow: -4px 4px 8px rgba(17, 0, 17, 0.4);
}

.team .card .openDialogBtn {
  padding: 2px;
  width: 70%;
  height: 12%;
  border-radius: 3px;
  background-color: #505050;
  box-shadow: -4px 4px 8px rgba(17, 0, 17, 0.4);
  margin-bottom: 0;
  color: var(--letras-brancas);
  outline: none;
}

.team .card dialog {
  margin: auto;
  padding: 35px;
  text-align: justify;
  border-radius: 15px;
  background-color: #ebebeb;
  box-shadow: 0px 0px 2px #ebebeb;
  outline: none;
  overflow: hidden;
  border: none;
}

.team .card dialog::backdrop {
  background-color: rgba(0,0,0,.8);
}

.team .card .dialog-container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.team .card dialog .fa-xmark {
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(155, 0, 0);
  font-size: 25px;
  cursor: pointer;
  transition: all 1s;
}

.team .card dialog .fa-xmark:hover {
  transform: scale(1.35);
  color: red;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
