.carousel .text {
  position: absolute;
  top: 12rem;
  width: 80%;
}

.carousel .description {
  display: none;
}

.carousel .title {
  color: var(--letras-brancas);
  font-size: 2rem;
  -webkit-text-stroke: 0.6px black;
  font-weight: 800;
}

.swiper {
  width: 100%;
  height: 75vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #8D0A8D;
  margin: 0 1vw;
  transition: all ease 0.5s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  text-shadow: 0px 0px 1px #bc72bc;
}

.swiper-pagination-bullet-active {
  background-color: #8D0A8D;
  box-shadow: 0px 0px 5px #8f238f;
}

@media screen and (min-width: 1024px) {
  .carousel .title {
    font-size: 4rem;
  }

  .carousel .description {
    display: block;
    color: var(--letras-brancas);
    font-size: 2rem;
    -webkit-text-stroke: 0.6px black;
    font-weight: 800;
  }
}