.header {
  width: 100%;
  height: 90px;
  padding: 5px;
  z-index: 1;
  background-color: var(--bg-escuro);
  display: flex;
}

.mobile-menu {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 20px;
  color: #8F8F8F;
  border: 1px solid #8F8F8F;
  border-radius: 4px;
  padding: 1px 2px;
}

.headroom-wrapper {
  z-index: 999;
  position: relative;
}

.logo-container {
  margin-left: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.logo {
  width: 75px;
  transition: 0.5s
}
.logo:hover {
  width: 75px;
  transform: rotate(360deg);
}

.logo-title {
  color: var(--letras-brancas);
  font-size: 20px;
}

.logo-title span {
  color: var(--tema-principal);
  text-shadow: 0.5px 1px 2px #7925f8;
}

.he .at {
  display: inline-block;
  transition: transform 1s ease;
  transform-origin: left;
}

.he:hover .at {
  transform: translateX(100%);
}

nav {
  width: 90%;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: end;
  align-items: start;
  background-color: var(--bg-escuro);
  position: absolute;
  left: 0;
  z-index: -1;
  transform: translateY(-110%);
  transition: all ease 0.5s;
  padding-bottom: 10px;
}

.nav-list li {
  padding: 5px 20px;
}

.show-menu {
  transform: translateY(45%);
  transition: all ease 0.5s;
}

.nav-link {
  margin-right: 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--letras-brancas);
  transition: all ease 0.5s;
}

.nav-link:hover {
  color: var(--tema-principal);
  text-shadow: 0.5px 1px 4px #7925f8;
}

@media screen and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    transform: translateY(0);
    height: 90%;
    width: 60%;
    align-items: center;
    z-index: 1;
    right: 0;
    left: unset;
    padding-bottom: 0;
  }

  .nav-list li {
    padding: 0;
  }
}